package mont_arith

{{ $limbCount := .LimbCount}}
{{ $limbBits := .LimbBits}}
{{ $unrolledCutoff := 11}}
{{ $limbCountPlusOne := add .LimbCount 1}}

func NewMulMontImpls() []mulMontFunc {
    return []mulMontFunc {
        mulMont64,
        {{- range $i := intRange 2 $limbCountPlusOne}}
            mulMont{{mul $i $limbBits}},
        {{- end}}
    }
}
