{{ $limbCount := .LimbCount}}
{{ $limbCountPlusOne := add .LimbCount 1}}
{{ $limbBits := .LimbBits}}
{{ $limbCountSub1 := sub $limbCount 1}}

package evmmax_arith

import (
    "math/bits"
)

var Preset = []arithFunc{
{{- range $i := intRange 1 $limbCountSub1 }}
    MontMul{{mul $i $limbBits}},
{{- end}}
}